<footer id="contact-me">
    <h2>Contact me</h2>
    <form action="https://formsubmit.co/bjumagiliyage@gmail.com" method="POST">
    <input type="email" name="email" placeholder="Email Address" required>
     <input type="text" name="name" required>
     <input type="email" name="email" required>
     <button type="submit">Send</button>
    <p>bjumagiliyage@gmail.com</p>
   
</footer>