<section class="hero">
<nav>
    <img class="logo" src="images/logo.png" alt="Bojitha's logo" />
    <ul id="nav-list">
        <li><a href="#about-me">About me</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact-me">Contact</a></li>
    </ul>
    <button class="hamburger" id="hamburger">
        <i class="fas fa-bars"></i>
    </button>
</nav>
</section>